<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bionic.td_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/GreenTheme"
        android:icon="@mipmap/ic_launcher"

        >

        <provider
            android:name="com.bionic.td_android.Data.Provider.TDAProvider"
            android:authorities="com.bionic.td_android"
            android:exported="false"


            />



        <activity android:name=".Login.LoginActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Register.RegisterActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            />

        <activity android:name=".MainWindow.MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            />





    </application>

</manifest>
